---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: openjdk
    tag: 8-jdk

inputs:
  - name: git-repo
  - name: version

outputs:
  - name: build

run:
  path: git-repo/ci/tasks/build-artifact.sh
